@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('./mountain.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor; 
    image-rendering: pixelated;
    margin: 0;
    color: white;
}
.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}
.big-text {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem
}
.container-el {
    text-align: center;
    padding-right: 3rem;
}
.container-el span {
    font-size: 1.5rem;
}